@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Lato:wght@400;700&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*

GENERICS

*/


li,
a {
    text-decoration: none;
    list-style: none;
    transform: translateY(3px);
    cursor: pointer;
}

.o {
    font-size: 40px;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.o {
    color: #242424;
}

.o:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

p {
    line-height: 1.5;

}

html {
    scroll-behavior: smooth;
}







/*


HOME



*/

.container {
    width: 100%;
    height: 100%;
    background-image: cover;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing__page {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.landing__title {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #10587a 29%,
            #13ff46 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 70px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.landing__para {
    font-size: 20px;
    font-weight: bold;
    color: rgb(247, 238, 238);
    max-width: 1000px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 5px;
}

.landing__linkss {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.landing__link--list {
    padding: 0 40px;
    font-weight: bold;
    font-size: 30px;
}

.landing__list--link,
a {
    color: #242424;
}


/*


ABOUT



*/

.about__me {
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project {
    padding: 45px;
}


.project__img {
    width: 100%;
    transform: all 500ms ease;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgb(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550PX;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--title {
    font-size: 40px;
    padding-bottom: 10px;
}

.project__description--para {
    margin: 16PX 0;
}

.project__description--sub-title {
    padding: 18px 0 0 0;
}

.project__description--link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
    text-align: left;
    color: #fff;

}

.project__description--title,
.project__description--sub-title,
.project__description--para {
    padding: 0 24px 0 0;
}

/*


RESOURCE



*/

.containerrr {
    width: 100%;
    height: 100%;

}

.resources {
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.resource__page {
    padding: 80px 0;
}

.raw {
    width: 100%;
    margin: 0 auto;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.features__intro {
    margin-bottom: 20px;
    display: none;
}

.features__title--bold {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 5px;
    color: #f3efef;
}



.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;

}

.service__icon {
    color: #f3efef;
    width: 100px;
}

.services__6 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    margin: 0 50px;
    padding: 32px 8px;
}

.service__6-1 {
    margin-left: 16px;
}

.service__title {
    margin-bottom: 8px;
    font-size: 40px;
    color: #f3efef;
}




/* cool */

.service__title--para {
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    line-height: 2;
    color: #0f0f0f;
    margin-bottom: 8px;
    font-size: 40px;
    background-image: linear-gradient(#818a7f, #e1eaef);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 2px;
    transition: background-size .5s, background-position .3s ease-in .5s;
}

.service__title--para:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
    transition: background-position .5s, background-size .3s ease-in .5s;
}


/* 

puter


*/

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}


.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}